.vh-manager {
    height: 100%;
    display: flex;
    flex-direction: column;
    .vh-manager__header {
        min-height: 20px;
        flex: none;
        display: flex;
        padding-bottom: 5px;
        padding-top: 5px;
        .vh-manager__header--left {
            padding: 1px;
            flex: auto;
            .btn {
                margin: 5px;
            }
        }
        .vh-manager__header--center {
            padding: 1px;
            flex: none;
            .btn {
                margin: 5px;
            }
        }
        .vh-manager__header--right {
            padding: 1px;
            flex: auto;
            text-align: right;
            .btn {
                margin: 5px;
            }
            .form-control {
                display: inline-block;
            }
        }
    }
    .vh-manager__body {
        padding: 1px;
        min-height: 50px;
        flex: auto;
        border-top: 1px solid #ccc;
        .vh-manager__body--action {
            .btn {
                margin: 1px 5px;
                @media screen and (max-width: 768px) {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
    .vh-manager__footer {
        padding: 5px 1px;
        min-height: 20px;
        flex: none;
    }
}
